* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template: 10vh 90vh 60vh 60vh 60vh 60vh 85vh 85vh 25vh/ 1fr 2fr 2fr;
    grid-template-areas:
        "h h h"
        "b b b"
        "sections sections sections"
        "sections sections sections"
        "sections sections sections"
        "sections sections sections"
        "mains mains mains"
        "mains mains mains"
        "f f f";
    background-color: black;
    gap: 0vh;
}

.sections {
    background-color: grey;
    grid-area: sections;
    display: grid;
    grid-template: 55vh 55vh 55vh 55vh / 1fr 2fr 2fr;
    grid-template-areas:
        "s1 s1 s1"
        "s2 s2 s2"
        "s3 s3 s3"
        "s4 s4 s4"
    ;
    padding: 3%;
    gap: 1%;
}

.mains {
    background-color: white;
    grid-area: mains;
    display: grid;
    grid-template: 80vh 80vh / 1fr 2fr 2fr;
    grid-template-areas:
        "m1 m1 m1"
        "m2 m2 m2"
    ;
    padding: 3%;
    gap: 1%;
}

.button {
    width: 70px;
    height: 35px;
}

#button1 {
    width: 70px;
    height: 35px;
}

#button2 {
    width: 70px;
    height: 35px;
}

#button3 {
    width: 70px;
    height: 35px;
}

#button4 {
    width: 70px;
    height: 35px;
}

#button5 {
    width: 70px;
    height: 35px;
}

#button6 {
    width: 70px;
    height: 35px;
}

#button7 {
    width: 70px;
    height: 35px;
}

#button8 {
    width: 70px;
    height: 35px;
}

#button9 {
    width: 70px;
    height: 35px;
}

#button10 {
    width: 70px;
    height: 35px;
}

#nav_link {
    width: 100%;
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav_link ul {
    list-style: none;
    margin-top: 2%;
}

#nav_link ul li {
    width: 170px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 16px;
    position: relative;
}

#nav_link ul li:hover {
    color: whitesmoke;
}

#menu ul ul {
    display: none;
    margin: 0px;
}

header {
    background-color: rgb(112, 112, 112);
    grid-area: h;
    display: grid;
    grid-template: 8vh / 1fr 4fr 1fr;
    grid-template-areas:
        "logo nav bandeira"
    ;
    gap: 5vh;
}

#logo {
    grid-area: logo;
    max-width: 50px;
    max-height: 50px;
    margin-left: 50px;
    margin-top: 10px;
}

.nav_link {
    background-color: rgb(112, 112, 112);
    grid-area: nav;
}

#bandeira {
    grid-area: bandeira;
    max-width: 25px;
    max-height: 25px;
    margin-top: 25px;
}

.banner {
    background-color: black;
    grid-area: b;
    display: grid;
    grid-template: 60vh 10vh / 1fr;
    grid-template-areas:
        "imgbanner"
        "txtbanner"
    ;
    gap: 1vh;
}

.imgbanner {
    background-color: black;
    grid-area: imgbanner;
    width: 100%;
    height: 100%;
    position: relative;
}

.txtbanner {
    background-color: black;
    grid-area: txtbanner;
    text-align: center;
    font-size: 72px;
    color: white;
}

.section1 {
    grid-area: s1;
    display: grid;
    grid-template: 40vh / 2fr 1fr;
    grid-template-areas:
        "a_txt f_img"
    ;
    gap: 1vh;
    padding: 3%;
    background-image: url(img/Garagem\ Apple.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: yellow;
}

#title_standard {
    text-align: center;
    grid-area: title_standard;
}

.txt_standard {
    text-align: center;
    grid-area: txt_standard;
}

.article_txt {
    grid-area: a_txt;
    display: grid;
    grid-template: 5vh 30vh / 1fr;
    grid-template-areas:
        "title_standard"
        "txt_standard"
    ;
    gap: 1vh;
    padding: 3%;
}

.figure_img {
    grid-area: f_img;
}

.section2 {
    grid-area: s2;
    display: grid;
    grid-template: 40vh / 1fr 2fr;
    grid-template-areas:
        "f_img a_txt"
    ;
    gap: 1vh;
    padding: 3%;
    background-image: url(img/Fundo\ Atari.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: yellow;
}

.section3 {
    grid-area: s3;
    display: grid;
    grid-template: 40vh / 2fr 1fr;
    grid-template-areas:
        "a_txt f_img"
    ;
    gap: 1vh;
    padding: 3%;
    background-image: url(img/Apple\ office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: yellow;
}

.section4 {
    grid-area: s4;
    display: grid;
    grid-template: 40vh / 1fr 2fr;
    grid-template-areas:
        "f_img a_txt"
    ;
    gap: 1vh;
    padding: 3%;
    background-image: url(img/Pixar\ fundo.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: yellow;
}

.main1 {
    background-color: rgb(172, 172, 172);
    grid-area: m1;
    display: grid;
    grid-template: 5vh 65vh / 1fr 1fr 1fr;
    grid-template-areas:
        "txt_msell txt_msell txt_msell"
        "sell1 sell2 sell3"
    ;
    gap: 1vh;
    padding: 3%;
}

.txt_msell {
    grid-area: txt_msell;
    text-align: center;
}

.sell1 {
    grid-area: sell1;
    display: grid;
    grid-template: 4vh 20vh 20vh/ 1fr;
    grid-template-areas:
        "t_sell"
        "h_sell"
        "txt_sell"
    ;
    gap: 1vh;
    padding: 3%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sell2 {
    grid-area: sell2;
    display: grid;
    grid-template: 4vh 20vh 20vh/ 1fr;
    grid-template-areas:
        "t_sell"
        "h_sell"
        "txt_sell"
    ;
    gap: 1vh;
    padding: 3%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sell3 {
    grid-area: sell3;
    display: grid;
    grid-template: 4vh 20vh 20vh/ 1fr;
    grid-template-areas:
        "t_sell"
        "h_sell"
        "txt_sell"
    ;
    gap: 1vh;
    padding: 3%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;

}

.t_sell {
    grid-area: t_sell;
    text-align: center;
    margin-top: 1vh;
}

.h_sell {
    grid-area: h_sell;
}

.txt_sell {
    grid-area: txt_sell;
    text-align: justify;
    padding: 3%;
}

.main2 {
    background-color: rgb(172, 172, 172);
    grid-area: m2;
    display: grid;
    grid-template: 5vh 65vh / 1fr 1fr 1fr;
    grid-template-areas:
        "txt_msell txt_msell txt_msell"
        "sell1 sell2 sell3"
    ;
    gap: 2vh;
    padding: 3%;
}

footer {
    background-color: rgb(112, 112, 112);
    grid-area: f;
    text-align: center;
}

#f_txt {
    padding-top: 10vh;
}

.sell_img {
    position: relative;
    max-width: 10vh;
}

p {
    font-size: 16px;
}